html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}



body {
  margin-bottom: 60px;
}

nav {
    background-color: #00529a !important;
}

.nav-link {
    color: #f0f5f7 !important;
}

.navbar-brand {
    color: #98daf8;
    font-weight: bold;
}

body {
    background-color: #98daf8;
}

footer {
    background-color: white;
}

.navbar-logo {
    width: 150px;
}

.sendemail-inputbox {
    width: 50rem;
}