@model HospitalIMSWeb.Models.Cat

@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<p><i>This website is far from deployment.</i></p>

<p>
    Pedro's Grace Hospital Center is entirely a work of fiction.
    The names, characters and incidents portrayed in it are the work of the programmer’s imagination.
    Any resemblance to actual persons, living or dead, events or localities is entirely coincidental.
</p>

<p>Thanks for visiting this About page. Here is our location in Google Maps (not true, only serving as example embedding):</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d789.5000897133108!2d121.07437474162055!3d14.336880159318262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397d7598f4d655b%3A0xc96a446198669910!2sBi%C3%B1an%20Community%20Hospital!5e0!3m2!1sen!2sph!4v1729398411060!5m2!1sen!2sph" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>