@model HospitalIMSWeb.Models.Cat

@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/home.css" />
<section class="hero-section">
    <div class="hero-container">
        <div class="column-left">
            <h2>Welcome to</h2>
            <h1>Pedro's Grace Hospital</h1>
            <p>
                Where healing meets compassion, and every patient is treated like family.
                Get started with our services ranging from pharmaceutical to surgical.
            </p>
            <button onclick="location.href = '/Doctor';">Login as Doctor</button>
        </div>
        <div class="column-left">
            <img src="~/img/caduceus.svg" class="filter-blue hero-image" />
        </div>
    </div>
</section>

