@model HospitalIMSWeb.Models.Cat

@{
    ViewData["Title"] = "Error - Page not finished.";
}

<div class="text-center">
    <h1 class="display-4">Error: Lazy Programmer. Page not finished.</h1>
    <i>The developer of this website is still working on this site. At the meantime, take a look at this cat (or cats):</i><br/>
    <img style="margin-top: 25px" src="https://cataas.com/cat/@Model._id" width="350px" alt="a description of the image" asp-append-version="true" />
    <p style="font-size:smaller"><i>Credits to the RESTful public API: <a href="https://www.cataas.com">www.cataas.com</a></i>!</p>
</div>
