@model HospitalIMSModels.Patient

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sex" class="control-label"></label>
                <input asp-for="sex" class="form-control" />
                <span asp-validation-for="sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="age" class="control-label"></label>
                <input asp-for="age" class="form-control" />
                <span asp-validation-for="age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="birthday" class="control-label"></label>
                <input asp-for="birthday" class="form-control" />
                <span asp-validation-for="birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phoneNumber1" class="control-label"></label>
                <input asp-for="phoneNumber1" class="form-control" />
                <span asp-validation-for="phoneNumber1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phoneNumber2" class="control-label"></label>
                <input asp-for="phoneNumber2" class="form-control" />
                <span asp-validation-for="phoneNumber2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="weightKg" class="control-label"></label>
                <input asp-for="weightKg" class="form-control" />
                <span asp-validation-for="weightKg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="heightFt" class="control-label"></label>
                <input asp-for="heightFt" class="form-control" />
                <span asp-validation-for="heightFt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

